<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ratel.link.dao.CityDao">
    <!-- 目的:为DAO接口方法提供sql语句配置-->

    <select id="queryById" resultType="com.ratel.link.entity.City" parameterType="int">
        <!-- 具体sql -->
        select *
        from sys_china
        where pid = #{id}
    </select>

</mapper>